.card {
    margin-left: 25%;
    margin-top: 8%;
}

.centerstage{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

table {
    border: 1px solid black;
}

img{
    width: 120px;
    height: 80px;
}
/*form#download-list {*/
/*    display: none;*/
/*}*/